nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

a {
    color: darkgrey;
    text-decoration: none;
    padding: 0 20px;
}

a:hover {
    text-decoration: underline;
}

.fa-sort-down {
    color: darkgrey;
    margin: 0;
    padding: 0;
}

.fa-search,
.fa-user,
.fa-heart,
.fa-shopping-cart {
    color: rgb(54, 54, 54);
}

.brandName {
    color: grey;
    font-size: 32px;
}