.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.leftHalf {
    width: 50%;
    height: 100%;
    background-image: url("/onlineShopFront.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position-y: -150px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightHalf {
    width: 50%;
    height: 100%;
    background-image: url("/about.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftHalf__clickBox,
.rightHalf__clickBox {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brandLogo {
    height: 100px;
}